body {
    background-color: black;
    color:white;
}
header {
    text-align: center;
    font-family: monospace;
}

h1 {
    font-size: 25px;
}

h3 {
    font-size: 21px;
    text-align: center;
}

span {
    font-size: 20px;
}

main {
    display: grid;
    grid-template-columns:10% 80% 10%;
   
}
article {
    max-width: 1000px;
    grid-column: 2;
    justify-self: center;
}

.img-container {
    text-align: center;
    padding-top: 10px;
}
.img-container img {
    max-width: 800px;
    width: 80%;
    height: auto;
}

.main-link {
    text-decoration: none;
    color: white;
  }

.center {
    text-align: center;
    font-size: 23px;
}

.normal-size {
    font-size: 20px;
}