/* для мобилы*/
@media (max-width: 1000px) {
  body {
    margin: 0%;
    background-color: rgb(29, 30, 32);

    min-height: 100vh; /* Body на всю высоту экрана */
    display: flex; /* Flexbox, чтобы раздать роли */
    flex-direction: column; /* Всё вертикально */

    font-size: 22px;
  }

  header {
    height: 50px;
    width: 100%;
    text-align: center;

    color: rgb(219, 219, 219);
  }

  header h1 {
    padding-top: 5px;
    margin-top: 0%;
  }

  main {
    display: grid;
    grid-template-columns: 1% 98% 1%;

    flex: 1 0 auto; /* Main забирает всё свободное место */
  }

  main article {
    grid-column: 2;
    padding-top: 20px;
    color: rgb(255, 255, 255);
  }

  main article div {
    background-color: rgb(44, 45, 46);
    width: 100%;
    border-radius: 10px;
  }

  main article div h3 {
    text-align: center;
  }

  ul {
    padding-left: 0%;
  }

  ul li {
    display: grid;
    position: relative;
    background-color: #111111;
    grid-template-columns: 50% 50%;
    border: 1px solid rgb(142, 142, 142);
    padding-left: 20px;
    border-radius: 10px;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  ul li span {
    grid-column: 1;
    text-align: left;
  }

  ul li a {
    position: absolute;
    grid-column: 2;
    color: rgba(187, 177, 64, 0.754);
    text-decoration: none;
    bottom: 0%;
    right: 0%;
    padding-right: 10px;

    font-family: monospace;
  }

  ul li a:hover {
    color: blue;
  }

  footer {
    color: blueviolet;
    background-color: #111111;
    width: 100%;
    text-align: end;
    flex-shrink: 0;
  }
}

/* для компа */
@media (min-width: 1000px) and (max-width: 1130px) {
  body {
    margin: 0%;
    background-color: rgb(29, 30, 32);

    min-height: 100vh; /* Body на всю высоту экрана */
    display: flex; /* Flexbox, чтобы раздать роли */
    flex-direction: column; /* Всё вертикально */

    font-size: 20px;
  }

  header {
    height: 50px;
    width: 100%;
    text-align: center;

    color: rgb(219, 219, 219);
  }

  header h1 {
    padding-top: 5px;
    margin-top: 0%;
  }

  main {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 700px) minmax(0, 1fr);

    flex: 1 0 auto; /* Main забирает всё свободное место */
  }

  main article {
    grid-column: 2;
    padding-top: 20px;
    color: rgb(255, 255, 255);
  }

  main article div {
    background-color: rgb(44, 45, 46);
    width: 100%;
    border-radius: 10px;
  }

  main article div h3 {
    text-align: center;
  }

  ul {
    padding-left: 0%;
  }

  ul li {
    display: grid;
    position: relative;
    background-color: #111111;
    grid-template-columns: 50% 50%;
    border: 1px solid rgb(142, 142, 142);
    padding-left: 20px;
    border-radius: 10px;
    margin-top: 15px;
  }
  ul li span {
    grid-column: 1;
    text-align: left;
  }

  ul li a {
    position: absolute;
    grid-column: 2;
    color: rgba(187, 177, 64, 0.754);
    text-decoration: none;
    bottom: 0%;
    right: 0%;
    padding-right: 10px;
    font-family: monospace;
  }

  ul li a:hover {
    color: blue;
  }

  footer {
    color: blueviolet;
    background-color: #111111;
    width: 100%;
    text-align: end;
    flex-shrink: 0;
  }
}
@media (min-width: 1131px) {
  body {
    margin: 0%;
    background-color: rgb(29, 30, 32);

    min-height: 100vh; /* Body на всю высоту экрана */
    display: flex; /* Flexbox, чтобы раздать роли */
    flex-direction: column; /* Всё вертикально */

    font-size: 20px;
  }

  header {
    height: 50px;
    width: 100%;
    text-align: center;

    color: rgb(219, 219, 219);
  }

  header h1 {
    padding-top: 5px;
    margin-top: 0%;
  }

  main {
    display: grid;
    grid-template-columns: 13% 74% 13%;

    flex: 1 0 auto; /* Main забирает всё свободное место */
  }

  main article {
    grid-column: 2;
    padding-top: 20px;
    color: rgb(255, 255, 255);
  }

  main article div {
    background-color: rgb(44, 45, 46);
    width: 100%;
    border-radius: 10px;
  }

  main article div h3 {
    text-align: center;
  }

  ul {
    padding-left: 0%;
  }

  ul li {
    display: grid;
    position: relative;
    background-color: #111111;
    grid-template-columns: 50% 50%;
    border: 1px solid rgb(142, 142, 142);
    padding-left: 20px;
    border-radius: 10px;
    margin-top: 15px;
  }
  ul li span {
    grid-column: 1;
    text-align: left;
  }

  ul li a {
    position: absolute;
    grid-column: 2;
    color: rgba(187, 177, 64, 0.754);
    text-decoration: none;
    bottom: 0%;
    right: 0%;
    padding-right: 10px;
    font-family: monospace;
  }

  ul li a:hover {
    color: blue;
  }

  footer {
    color: blueviolet;
    background-color: #111111;
    width: 100%;
    text-align: end;
    flex-shrink: 0;
  }
}
